---
import CreationMethods from "./ai-presentation/CreationMethods.astro";
import ExampleWorkflow from "./ai-presentation/ExampleWorkflow.astro";
import SmartNews from "./ai-presentation/SmartNews.astro";
import BigTitle from "../ui/BigTitle";
import Paragraph from "../ui/Paragraph";
---

<section id="presentation-ia" class="pt-28">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <BigTitle>Créer votre collection de cartes avec l'IA ! </BigTitle>
      <Paragraph>
        Créez, enrichissez et personnalisez vos collections de flashcards en
        quelques instants, depuis n'importe quelle source avec notre IA avancée.
      </Paragraph>
    </div>

    <CreationMethods />
    <SmartNews />
    <ExampleWorkflow />
  </div>
</section>
