---
import FlashcardMode from "@components/landingPage/learning-modes/FlashcardMode.astro";
import QuizMode from "@components/landingPage/learning-modes/QuizMode.astro";
import MatchMode from "@components/landingPage/learning-modes/MatchMode.astro";
import BigTitle from "@components//ui/BigTitle";
import Paragraph from "@components/ui/Paragraph";
---

<section id="modes-apprentissage" class="pt-20">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <BigTitle> Nos modes d'apprentissage </BigTitle>
      <Paragraph>
        Choisissez le mode qui vous convient le mieux pour apprendre et
        mémoriser efficacement.
      </Paragraph>
    </div>

    <FlashcardMode />
    <QuizMode />
    <MatchMode />
  </div>
</section>
