---
import CreationMethods from "../ai-presentation/CreationMethods.astro";
import ExampleWorkflow from "../ai-presentation/ExampleWorkflow.astro";
import SmartNews from "../ai-presentation/SmartNews.astro";
import BigTitle from "../ui/BigTitle";
import SubTitle from "../ui/SubTitle";
---

<section id="presentation-ia" class="pt-28">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <BigTitle>Créer votre collection de cartes avec l'IA ! </BigTitle>
      <SubTitle>
        Créez, enrichissez et personnalisez vos collections de flashcards en quelques instants, avec
        notre IA avancée.
      </SubTitle>
    </div>

    <CreationMethods />
    <SmartNews />
    <ExampleWorkflow />
  </div>
</section>
