---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import LearningModes from "../components/learning-modes/LearningModes.astro";
import Footer from "../components/footer/Footer.astro";
---

<Layout>
  <Navbar />
  <main class="max-w-6xl mx-auto">
    <Hero />
    <LearningModes />
  </main>
  <Footer />
</Layout>
