---
import Hero from "@components/landingPage/Hero.astro";
import Layout from "@layouts/Layout.astro";
import LearningModes from "@components/landingPage/LearningModes.astro";
import Footer from "@components/landingPage/Footer.astro";
import Together from "@components/landingPage/Together.astro";
import AIPresentation from "@components/landingPage/AIPresentation.astro";
import CompanyVision from "@components/landingPage/CompanyVision.astro";
---

<Layout>
  <Hero landingPage />
  <main>
    <LearningModes />
    <AIPresentation />
    <Together />
    <CompanyVision />
  </main>
  <Footer />
</Layout>
