---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import LearningModes from "../components/LearningModes.astro";
import Footer from "../components/Footer.astro";
import Together from "../components/Together.astro";
import AIPresentation from "../components/AIPresentation.astro";
---

<Layout>
  <Navbar />
  <Hero />
  <main>
    <LearningModes />
    <Together />
    <AIPresentation />
  </main>
  <Footer />
</Layout>
