---

---

<div>
  <h3 class="text-lg font-medium mb-4 font-saeada">À propos</h3>
  <ul class="space-y-2">
    <li>
      <a
        href="/notre-histoire"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        Notre histoire
      </a>
    </li>
    <li>
      <a
        href="/pourquoi-mindlet"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        Pourquoi Mindlet ?
      </a>
    </li>
    <li>
      <a
        href="/reseau-collaboratif"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        Réseau collaboratif
      </a>
    </li>
    <li>
      <a
        href="/nos-valeurs"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        Nos valeurs
      </a>
    </li>
  </ul>
</div>
