---

---

<div>
  <h3 class="text-lg font-medium mb-4 font-saeada">Technologie</h3>
  <ul class="space-y-2">
    <li>
      <a
        href="/intelligence-artificielle"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        L'IA expliquée
      </a>
    </li>
    <li>
      <a
        href="/open-source"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        Notre engagement open-source
      </a>
    </li>
    <li>
      <a
        href="/hebergement-europeen"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        Hébergement européen
      </a>
    </li>
    <li>
      <a
        href="/rgpd"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        Protection des données (RGPD)
      </a>
    </li>
  </ul>
</div>
