---
import { QuestionCard, AnswerCard } from "@components/ui/Card";
import HintText from "@components/ui/HintText";
import Paragraph from "@components/ui/Paragraph";
import Title from "@components/ui/Title";
---

<div class="mb-24 grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
  <div>
    <Title>Flashcard</Title>
    <Paragraph>
      La méthode des flashcards est l'une des techniques d'apprentissage les
      plus efficaces et éprouvées. Elle repose sur le principe de la répétition
      espacée, qui optimise la mémorisation à long terme.
    </Paragraph>
    <Paragraph className="mt-4">
      Avec Mindlet, créez facilement vos propres flashcards ou utilisez celles
      partagées par la communauté. Notre algorithme intelligent adapte les
      intervalles de révision en fonction de vos performances, vous permettant
      de mémoriser plus efficacement et durablement.
    </Paragraph>
    <HintText className="mt-6 hidden lg:block"
      >Survolez les cartes pour voir l'effet →</HintText
    >
    <HintText className="mt-6 lg:hidden"
      >Touchez les cartes pour voir l'effet →</HintText
    >
  </div>

  <div class="h-[350px] w-full">
    <div
      id="flashcard-wrapper"
      class="relative w-full h-full transform-3d transition-transform"
    >
      <QuestionCard className="card-front" absolute>
        <h4 class="text-2xl font-semibold font-saeada text-center">
          Principe de photosynthèse ?
        </h4>
      </QuestionCard>
      <AnswerCard className="card-back" absolute>
        <Paragraph>
          Processus par lequel les plantes utilisent la lumière du soleil pour
          transformer le dioxyde de carbone et l'eau en oxygène et en glucose
        </Paragraph>
      </AnswerCard>
    </div>
  </div>
</div>

<style is:global>
  .card-front {
    transform: rotate(3deg);
    top: 10%;
    left: 10%;
    z-index: 2;
  }

  .card-back {
    transform: rotate(-2deg);
    top: 20%;
    left: 20%;
    z-index: 1;
  }

  #flashcard-wrapper:hover .card-front,
  #flashcard-wrapper.active .card-front {
    transform: translateX(15%) translateY(15%) rotate(-2deg);
    z-index: 1;
  }

  #flashcard-wrapper:hover .card-back,
  #flashcard-wrapper.active .card-back {
    transform: translateX(-15%) translateY(-15%) rotate(3deg);
    z-index: 2;
  }
</style>

<script>
  // Gestion des événements tactiles pour les appareils mobiles
  document.addEventListener("DOMContentLoaded", () => {
    const flashcardWrapper = document.getElementById("flashcard-wrapper");

    if (flashcardWrapper) {
      // Pour les appareils tactiles
      flashcardWrapper.addEventListener("touchstart", () => {
        flashcardWrapper.classList.add("active");
      });

      flashcardWrapper.addEventListener("touchend", () => {
        // Délai pour permettre de voir l'effet avant de revenir
        setTimeout(() => {
          flashcardWrapper.classList.remove("active");
        }, 1500); // 1.5 secondes d'affichage
      });

      // S'assurer que la classe est enlevée lorsque l'utilisateur quitte la zone
      flashcardWrapper.addEventListener("mouseleave", () => {
        flashcardWrapper.classList.remove("active");
      });
    }
  });
</script>
