---
import HintText from "@components/ui/HintText";
import Paragraph from "@components/ui/Paragraph";
import Title from "@components/ui/Title";
import MatchGameExample from "./MatchGameExample";
---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
  <div>
    <Title>Association</Title>
    <Paragraph>
      L'association est un exercice stimulant qui renforce votre capacité à
      faire des liens entre concepts et définitions.
    </Paragraph>
    <Paragraph className="mt-4">
      Dans ce mode, vous devez associer correctement des paires de termes ou de
      concepts qui vont ensemble. Cet exercice développe votre mémoire
      associative et votre compréhension des relations entre différentes
      notions. Particulièrement efficace pour l'apprentissage des langues, des
      terminologies spécifiques ou des relations de cause à effet.
    </Paragraph>
    <HintText className="mt-6">
      Cliquez sur les cartes pour les associer →
    </HintText>
  </div>

  <MatchGameExample client:visible />
</div>
