---
import About from "./footer/About.astro";
import Contact from "./footer/Contact.astro";
import Copyright from "./footer/Copyright.astro";
import Legal from "./footer/Legal.astro";
import Logo from "./footer/Logo.astro";
import Newsletter from "./footer/Newsletter.astro";
import Technology from "./footer/Technology.astro";
---

<footer class="bg-white py-12 px-4 md:px-8 border-t border-zinc-100">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Colonne 1: Logo et Contact -->
      <div class="space-y-8">
        <div id="contact">
          <Logo />
          <Contact />
        </div>
      </div>

      <!-- Colonne 2: À propos -->
      <div>
        <About />
      </div>

      <!-- Colonne 3: Technologie -->
      <div>
        <Technology />
      </div>

      <!-- Colonne 4: Légal -->
      <div>
        <Legal />
      </div>
    </div>

    <div class="mt-10 text-center max-w-3xl mx-auto">
      <Newsletter />
    </div>

    <Copyright />
  </div>
</footer>
