---
import { Image } from "astro:assets";
import graphHero from "../assets/graph-hero.svg";
---

<section
  class="min-h-screen flex flex-col justify-center items-center relative overflow-hidden"
>
  <div class="absolute inset-0 w-full h-full p-24 animate-fade-in-scale">
    <Image
      src={graphHero}
      alt="Background graph"
      class="w-full h-full object-contain object-center"
    />
  </div>
  <div class="relative z-10">
    <h1
      class="mb-2 font-saeada text-center text-5xl lg:text-7xl xl:text-8xl animate-fade-in-up"
    >
      L&apos;apprentissage collaboratif,<br />
      réinventé par l'IA
    </h1>

    <p
      class="font-light text-center text-xl xl:text-2xl animate-fade-in-up animation-delay-300"
    >
      Le premier <span class="text-emerald-400 font-semibold"
        >réseau social</span
      >
      où apprendre rime avec partager.
    </p>
  </div>
</section>

<style>
  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-scale {
    animation: fadeInScale 1.2s ease-out forwards;
    opacity: 0;
  }

  .animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 0;
  }

  .animation-delay-300 {
    animation-delay: 300ms;
  }
</style>
