---
import { Image } from "astro:assets";
import Button from "./ui/Button";
---

<nav class="flex justify-between items-center p-8">
  <div class="flex items-center gap-x-8">
    <div class="rounded-full">
      <Image
        src="/images/logo-primary.svg"
        alt="Mindlet"
        width="40"
        height="40"
      />
      <h1>Mindlet</h1>
    </div>
    <ul class="flex gap-x-4">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="flex">
    <Button> Commencer </Button>
  </div>
</nav>
