<nav class="flex justify-between items-center p-8">
  <div class="flex items-center gap-x-8">
    <h1>Mindlet</h1>
    <ul class="flex gap-x-4">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="flex">
    <a href=""><button>Commencer</button></a>
  </div>
</nav>
