---

---

<div>
  <h3 class="text-lg font-medium mb-4 font-saeada">Légal</h3>
  <ul class="space-y-2">
    <li>
      <a
        href="/politique-de-confidentialite"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        Conditions d'utilisation
      </a>
    </li>
    <li>
      <a
        href="/politique-de-confidentialite"
        class="text-zinc-600 hover:text-emerald-500 transition-colors"
      >
        Politique de confidentialité
      </a>
    </li>
    <li>
      <a href="/securite-enfants" class="text-zinc-600 hover:text-emerald-500 transition-colors">
        Politique de sécurité des enfants
      </a>
    </li>
  </ul>
</div>
