---
import { Image } from "astro:assets";
---

<div class="flex items-center">
  <div class="mr-3">
    <Image src="/logo.svg" alt="Mindlet" width="32" height="32" />
  </div>
  <span class="text-xl font-semibold font-saeada">Mindlet</span>
</div>
