---
interface Props {
  title: string;
  description: string;
  imageSrc: string;
}

const { title, description,imageSrc, } = Astro.props;
---


<div class="bg-white p-8 max-w-md mx-auto text-center">
  <h1 class="text-5xl font-bold mb-4 text-black">{title}</h1>
  
  <p class="text-gray-800 mb-8">
    It has survived not only five centuries, but also the leap into electronic typesetting.
  </p>
  
  <div class="mt-8">
    <img src="path/to/your/message-bars-image.png" alt="Messages et groupes illustration" class="mx-auto w-full max-w-sm">
  </div>
</div>
