---
import LayoutApp from "@layouts/LayoutApp.astro";
---

<LayoutApp>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem
    ullam quod obcaecati quia, labore ratione expedita, iste voluptatibus ipsam
    nostrum iure nulla sapiente molestias officiis. Obcaecati iste quo facere
    error!
  </p>
</LayoutApp>
